<!DOCTYPE html>
<html>
  <head>
    <title>Add</title> 
   
  </head>
  <body>
   
  <form method ="post" action="/Add">
        <h1>Add Product</h1><br>
        <input type="hidden"  name="_id" value="<%=seller._id%>" >
        <input type="hidden"  name="seller" value="<%=seller.name%>" >
        Name:<input type="text" name="name" placeholder=" Product name">
        <select name = "type">
                <option value= "Fruit">Fruit</option>
                <option value= "Vegetable">Vegetable</option>
                <option value= "Poultry">Poultry</option>
                <option value= "Seed/sapling">Seed/sapling</option>
               </select>
           </br>

        Description: <input type="text" name="description" placeholder=" Product Description">
        </br>
        Price:<input type ="text" name="price" placeholder="Price ">

            <button>Add</button>
               </input>
           </form>
       
    
  </body>
</html>