<!DOCTYPE html>
<html>
  <head>
    <title>Add</title> 
   
  </head>
<style type="text/css">
 

        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
        .bg {
  background-image: url("login.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
 h1{
        font-size: 40px;
        font-family: monospace;
        color: #e89207;
      }
      label{
        font-size: 23px;
        color: #c99c22;
      }
      .formEditHere{
        width: 500px;
        background-color: #e3d9bf;
      }


body,html {
        height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    position: absolute;
    top:5%;
    right:0%;
  overflow: hidden;
  /*background-color: #333;*/
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
   
  /*for icon */


</style>

  <body>
   
<<<<<<< HEAD
  <form method ="post" action="/Add">
=======
  <form method ="post">
    <div class=".formEditHere">
>>>>>>> 7534c288b411cd603a7c5f375d7d1243130368e8
        <h1>Add Product</h1><br>
        <input type="hidden"  name="_id" value="<%=seller._id%>" >
        <input type="hidden"  name="seller" value="<%=seller.name%>" >
        Name:<input type="text" name="name" placeholder=" Product name">
        <select name = "type">
                <option value= "Fruit">Fruit</option>
                <option value= "Vegetable">Vegetable</option>
                <option value= "Poultry">Poultry</option>
                <option value= "Seed/sapling">Seed/sapling</option>
               </select>
           </br>

        Description: <input type="text" name="description" placeholder=" Product Description">
        </br>
        Price:<input type ="text" name="price" placeholder="Price ">

            <button>Add</button>
               </input>
           </form>
           <div class ="icon">
    <table cellpadding="20">
            
                <tr>
            <td><a href="#" i class="fa fa-facebook"></i></a></div></td>
            <td><a href="#" i class="fa fa-twitter"></i></a></div></td>
            <td><a href="#" i class="fa fa-linkedin"></i></a></div></td>
        </tr></table>
    </div>
  </div></form>
       
    
  </body>
</html>