<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>	<link rel = "stylesheet" href = "style.css">
	
	<link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
	<link rel ="stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>	
<body>
 <section id = "nav-bar">
			<nav class="navbar navbar-expand-lg navbar-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" area-controls="navbarNav" area-expanded="false" area-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#top">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">about</a>
      </li>
      
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">contact me</a>
        <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      </li>
    </ul>
  </div>
</nav>	
</section>
<div class="middle">
	<table>
		<tr>
			<td>
	<div id="buy">
	<button he><a href="buy.html" ><img src="/images/img/Buy.jpg" width="400" height="400" alt= "buy" onclick=></a></button></div></td>
	<td>
	<div id="sell">
		<button><a href="/register" ><img  src="/images/img/sell.jpg" width="400" height="400" alt= "sell"  onclick=></a></button>
	</div></td>
	<td>
	<div id="community">
	<button>	<a href="community.hmtl" ><img src="/images/img/community.jpg" width="400" height="400" alt="community" onclick=></a></button>
	</div></td></tr>
	</table>
</div>


</body>
</html>