<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" href="/stylesheets/mainbody.css">
  <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playball&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/style.css">
  <style>
  .bg {
    background-image: url("images/img/vegie.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
     .topnav {
    position: absolute;
    top:5%;
    right:0%;
  overflow: hidden;
  color:#AB640D;
  /*background-color: #333;*/
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}position: relative;
  }
   .topnav {
    position: absolute;
    top:5%;
    right:0%;
  overflow: hidden;
  color:#AB640D;
  /*background-color: #333;*/
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="bg"></div>
  <div class="topnav">
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a  href="/">Home</a>
      </div>
<div class="centered wow bounceInDown" data-wow-duration="2s" data-wow-delay="0.5s">
<h1>Taaza Bazaar</h1>
<div class="seperate wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.5s">
<p>From my backyard to your kitchen!</p>
<p>स्वस्थ, स्वछ र भरपर्दो </p>
</div>
</div>
<div class="above">
    <!-- <div id="wowslider-container">
        <div class="ws_images"><ul>
        <li><img src="images/imagefive.jpg" alt="" title="" id="wows_0"></li>
        <li><img src="images/imagefour.jpg" alt="" title="" id="wows_1"></li>
        <li><img src="images/imagethree.jpg" alt="" title="" id="wows_2"></li>
        <li><img src="images/imagefour.jpg" alt="" title="" id="wows_3"></li>
        </ul></div>
        <div class="ws_bullets"><div>
        <img src="tooltips/slide1new.jpg" alt="">
        <img src="tooltips/slide2new.jpg" alt="">
        <img src="tooltips/slide3new.jpg" alt="">
        </div></div>
          <a href="#" class="ws_frame"></a>
          <div class="ws_shadow"></div>
        </div> -->
 <table>
<td>
  <div class="container">
  <div class="imagehere"><a href=" /buy"><button><img src="images/img/buy copy.png" alt="Buy" class="image" style="width:100%"></button></div>
  <p>Buy</p>
  </div>
</div>
</td>
<td>
    <div class="container">
    <div class="imagehere"><a href=" /register"><button><img src="images/img/sell copy.png" alt="Buy" class="image" style="width:100%"></button></div>
      <p>Sell</p>
    </div>
  </div>
  </td>
  <td>
      <div class="container">
      <div class="imagehere"><button><img src="images/img/community copy.png" alt="Buy" class="image" style="width:100%"></button></div>
      <p>Community</p>
      </div>
    </div>
    </td>
</table> 
</div>


<script src="/javascripts/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>

<script src="/javascripts/sccript.js"></script>
</body>
</html>
