<!DOCTYPE html>
<html>
  <head>
    <title>Login</title> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="login" method="post" >
    	<table>
    		<tr>
    			<td>
    				User Name:<input type="text" name="name">
    			</td>
    		</tr>
    		<tr>
    			<td>
    				Location: <input type="text" name="location">
    			</td>
    		</tr>
    		<tr>
    			<td>
    				Description:<input type="text" name="Description" placeholder="Please mention your Description">
    			</td>
    		</tr>
    		<tr>
    			<td>
    				Products:<input type="checkbox" name="vegetables" value="vegetables">Vegetables
    				<input type="checkbox" name="fruits" value="fuits">Fruits
    				<input type="checkbox" name="Polutry" value="Polutry">Polutry
    				<input type="checkbox" name="seeds and saplings" value="seeds and saplings"> seeds and saplings

    			</td>
    		</tr>
    	</table>
    <h2><
  </body>
</html>
