<!DOCTYPE html>
<html>
  <head>
    <title>Login</title> 
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <form action="/Signup" method="post" >
    	<table>
    		<tr>
    			<td>
    				User Name:<input type="text" name="name">
    			</td>
    		</tr>
            <tr>
                <td>
                    Phone Number: <input type="text" name="phone_no">
                </td>
            </tr>
            <tr>
                <td>
                    Password: <input type="text" name="password">
                </td>
            </tr>
    		<tr>
    			<td>
    				Location: <input type="text" name="location">
    			</td>
    		</tr>
    		<tr>
    			<td>
    				Description:<input type="text" name="description" >
    			</td>
    		</tr>
    		<tr>
    			<td>
    				Products:<input type="checkbox" name="vegetables" value="vegetables">Vegetables
    				<input type="checkbox" name="fruits" value="fuits">Fruits
    				<input type="checkbox" name="Polutry" value="Polutry">Polutry
    				<input type="checkbox" name="Seeds and Saplings" value="Seeds and saplings"> Seeds and 
                    Saplings

    			</td>
    		</tr>
            
    	</table>
       
        <button>Sign Up</button>
           </form>
    
  </body>
</html>
