#nav-bar
{
		
		top: 0;
		z-index:10;
		overflow: hidden;
		position: sticky;
		

}
.navbar-nav li
{

	padding: 10px;

}
.navbar-nav li a 
{
	float: right;
	text-align: left;
	display: block;
}
#nav-bar ul li a:hover
{
	color: #007bff !important;

}
.navbar
{
	background: #333;
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color:#fff!important;
	font-weight: 600;
	font-size :16px;
}
.sticky
{
	position: fixed;
	top:0;
	width:100%;
}
/*for the middle portion*/
.middle{
	padding-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
}
.icon{
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: black;
	width: 100%;
	


}